<p id="notice"><%= notice %></p>
<div class="banner" id="casts-banner">
  <h1>Casts</h1>

</div>




  <tbody>
    <% @casts.each do |cast| %>
      <tr>
        <td><%= cast.title %></td>
        <td><%= cast.description %></td>
        <td><%= cast.episode %></td>
        <td><%= link_to 'Show', cast %></td>
        <td><%= link_to 'Edit', edit_cast_path(cast) %></td>
        <td><%= link_to 'Destroy', cast, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cast', new_cast_path %>
