<div class="container-fluid" id="casts-banner">
  <h1>Casts</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-sm-12">
    <% @casts.each do |cast| %>
      <%= image_tag cast_thumbnail.url(:medium) %>
      <h3 class="podcast-title"><%= cast.title %></h3>
      <p><%= cast.description %></p>
      <p><%= cast.episode %></p>
    </div>
  </div>
  <% end %>


</div>

<br>
<
<%= link_to 'New Cast', new_cast_path %>
