<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cast.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cast.description %>
</p>

<p>
  <strong>Episode:</strong>
  <%= @cast.episode %>
</p>

<%= link_to 'Edit', edit_cast_path(@cast) %> |
<%= link_to 'Back', casts_path %>
