<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <title>Radio Devocion</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lato:900i" rel="stylesheet">
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      
  
  
      <%= csrf_meta_tags %>
  </head>

  <body>
 <% if alert %>
	<div id="notice_wrapper">
		<p class="alert"><%= alert %></p>
	</div>
<% elsif notice %>
	<div id="notice_wrapper">
		<p class="notice"><%= notice %></p>
	</div>
<% end %>


<div class="navbar navbar-light navbar-fixed-top" role="navigation">
  <div class="container-fluid">
  	<div class="navbar-header">
  	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
  	    <span class="sr-only">Toggle navigation</span>
  	    <span class="icon-bar"></span>
  	    <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand active" href="/">Radio Devocion</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
      	<li><%= link_to "Podcasts", casts_path  %></li>
      	<li><a href="#">About</a></li>
      	<li class="dropdown">
      	  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
      	  <ul class="dropdown-menu">
      	    <li class="dropdown-header">Log-in/out + Sign up(coming soon)</li>
      	    <li><a href="#">Login</a></li>
      	    <li><a href="#">Sign</a></li>
      	  </ul>
      	</li>
      </ul>	

    </div>
  </div>
</div>

   <%= yield %>

  <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    	<div class="container">
    		<div class="navbar-text pull-left">
    			<p>© 2017 Radio Devocion.</p>
    		</div>
    		<div class="navbar-text pull-right">
              <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
              <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
              <a href="#"><i class="fa-google-plus fa-2x"></i></a>
    		</div>
    	</div>
    </div><!-- /footer -->

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  </body>
    
</html>
